@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homeIndexJumbotron">
    <div class="container">
        <h1 class="centered">BANDS IN VANS</h1>
        <h3 class="centered">The touring musician's resource</h3>
        <p class="lead centered">Where to play, park, and crash</p>
    </div>
</div>

<div class="row contentRow">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>The perfect place to read or rate! Come for the content, stay for the poor spelling and grammar.</p>
        <p>@Html.ActionLink("Rock a Review", "Index", "Reviews", new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>"Venue" and "Crashpad" not good enough for you? Click here.</p>
        <p>@Html.ActionLink("Crack a Category", "Index", "Categories", new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Grab a towel and some smoke, and let Kevin know what's up.</p>
        <p>@Html.ActionLink("Okay, I guess", "Contact", "Home", new { @class = "btn btn-default", role = "button" })</p>
    </div>
</div>